<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="registration.css">
	<title>Регестрація</title>
</head>
    <body>
       <div class="main">
	        <img class="logo" src="img/logo.svg">
                 <div class="card">
			      <div class="head">
			     	<div></div>
				    <a id="login" class="selected" href="#login">Увійти</a>
			      	<a id="register" href="#register">Зареєструватися</a>
					  <div></div>
			         </div>
			          <div class="tabs">
			      	<form>
					    <div class="inputs">
						<div class="input">
							<input placeholder="Нік" type="text">
							<img src="img/user.svg">
						</div>
						<div class="input">
							<input placeholder="Пароль" type="password">
							<img src="img/pass.svg">
						</div>
						<label class="checkbox">
							<input type="checkbox">
							<span>Запам'ятати пароль</span>
						</label>
					</div>
					<button>Війти</button>
				</form>
				<form>
					<div class="inputs">
						<div class="input">
							<input placeholder="Емеіл" type="text">
							<img src="img/mail.svg">
						</div>
						<div class="input">
							<input placeholder="Нік" type="text">
							<img src="img/user.svg">
						</div>
						<div class="input">
							<input placeholder="Пароль" type="password">
							<img src="img/pass.svg">
						</div>
					</div>
					<div class"login with"><!-- скачай с https://assets.zabbix.com/img/brands/discord.svg-->
					    <!-- или для любителей шакалов: https://umilitary.ml/static/login.png--> 
						<img src="loginDs.png"> <!--Денис добавь мне иконку loginDs.png в регистрацию и в css сделай его немного више чем регистрация мне отойти  нужно-->  
					<button>Зарегеструватися</button>
				</form>
			</div>
		</div>
	</div>
	<script src="jquery-3.3.1.min.js"></script>
	<script src="registration.js"></script>
</body>
</html>
