@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(197, 25, 25), green);
}
.repository
{
    position: relative;
    padding: 70px 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2); 
}
.repository h2
{
    color: #111;
    margin-bottom: 45px;
    line-height: 1em;
    font-weight: 500;
    padding-left: 10px;
    border-left: 5px solid rgb(245, 19, 3);
}
.repository .inputBox
{
    position: relative;
    width: 300px;
    height: 46px;
    margin-bottom: 35px;
}
.repository .inputBox:last-child()  /*CSS псевдокласс :last-child находит любой элемент, являющийся последним в его родителе. */
{
    margin-bottom: 0px;
}
.repository .inputBox input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #111;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    color: #111;
    font-weight: 300;
}
.repository .inputBox span
{
    position: absolute;
    color: #111;
    top: 1px;
    left: 1px;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    transition: 0.5s;
    pointer-events: none;
}
.repository .inputBox input:focus ~ span, /*CSS псевдокласс :valid находит любые <input> или <form> элементы, контент которых валиден, в соответствии с типом поля. Он позволяет вам легко менять внешний вид полей, что помогает понять пользователю, что он ввёл данные правильно. */
.repository .inputBox input:valid ~ span /* Для управления стилем родственных элементов используется символ тильды (~), он добавляется между двумя селекторами E и F. Пробелы вокруг тильды не обязательны.*/
{
    transform: translateX(-10px) translateY(-32px);
    font-size: 12px;
}
.repository .inputBox input[type="submit"] 
{
    background: #2196f3;
    color: #fff;
    border: none;
    max-width: 120px;
    cursor: pointer;
    font-weight: 500;
}
.repository .inputBox input[type="submit"]:hover
{
    background: rgb(179, 9, 9);
} 
