@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232427;
}
.repository
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 100px 0 50px;
}
.repository .cards
{
    position: relative;
    min-width: 320px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(255,255,255,0.1),
    5px 5px 15px rgba(0,0,0,0.3),
   -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
}
.repository .cards .box
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, box-shadow 0.5s;
}
.repository .cards:hover .box
{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}
.repository .cards .box .content
{
    padding: 20px;
    text-align: center;
}
.repository .cards .box .content .icon1 
{
    position: relative;
    width: 80px;
    height: 80px;
    background: #f00;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.repository .cards .box .content .icon2 
{
    position: relative;
    width: 80px;
    height: 80px;
    background: #f00;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.repository .cards .box .content h3
{
    font-size: 1.8em;
    color: #fff;
    font-weight: 300;
}
.repository .cards .box .content h4
{
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}
.repository .cards .box .content h4 sup
{
    font-size: 0.75em;
    font-weight: 300;
}
.repository .cards .box .content ul
{
    position: relative;
}
.repository .cards .box .content ul li
{
    list-style: none;
    color: #fff;
    margin: 5px 0;
}
.repository .cards .box .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #f00;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.repository .cards:nth-child(1) .box .content a,
.repository .cards .box .content .icon1
{
    background: #97dc37;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.repository .cards:nth-child(2) .box .content a,
.repository .cards .box .content .icon2
{
    background: rgb(202, 2, 2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.toggle
{
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.light .toggle
{ 
    background: #154f56;
    color: #fff;
}
body.light
{
    background: #ebf5fc;
}
body.light.repository .cards
{
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.03),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 10px rgba(0,0,0,0.03),
   -10px -10px 15px rgba(255,255,255,0.5);
}   
body.light .repository .cards .box
{
    background: #ebf5fc;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
body.light .repository .cards:hover .box
{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
body.light .repository .cards .box .content h3,
body.light .repository .cards .box .content h4,
body.light .repository .cards .box .content ul li
{
    color: #32a3b1;
}


