@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #000;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    
}
header .logo img
{
    max-width: 150px;
}
.navіgation_bar
{
    display: flex;
}
.navіgation_bar li
{
    list-style: none;
    margin: 0 10px;
}
.navіgation_bar li a
{ 
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.navіgation_bar li:hover a
{
    color: #de0611;
}
.navіgation_bar#blur.active li a:last-child(2)
{
    filter: blur(20px); /* Свойство filter предназначено для применения художественных эффектов к элементам. Обычно используется для изображений, чтобы размыть их, увеличить контрастность, преобразовать в чёрно-белую картинку и др.*/
    pointer-events: none; /* Не реагирует на мышь */
    user-select: none; /* Пользователю запрещено выделять элемент.*/
}
#popup
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-sizing: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}
#popup.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 500ms;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.G_gameContainer {
    background-color: cadetblue;
    width: 100%;    
    height: 100%;
}

.G_gameContainer div {
    color: aqua;
    background-color: darksalmon;
    position: absolute;
    width: 9%;
    height: 22%;
    z-index: 10;
    text-overflow: clip;
    overflow: hidden;
}

.G_gameContainer div .name {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    z-index: 12;
    width: 100%;
}

.G_gameContainer div img {
    width: 90%;
    height: 90%;
    z-index: 11;
}

.G_gameContainer div .role {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(153, 69, 69);
    z-index: 12;
    width: 100%;
}