@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #000;
    display: -ms-flexbox;
    align-items: center;
    padding-bottom: 30px; /* Устанавливает значение поля от нижнего края содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое*/
   
}   

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    
}
header .logo img
{
    max-width: 150px;
}
.navіgation_bar
{
    display: flex;
}
.navіgation_bar li
{
    list-style: none;
    margin: 0 10px;
}
.navіgation_bar li a
{ 
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.navіgation_bar li:hover a
{
    color: #de0611;
}

.popup .overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
} 
.popup .content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .close-btn
{
    cursor: pointer;
    position: absolute;
    background-position: center;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay 
{
    display: block;

} 
.popup.active .content
{
    transition: all 500ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.G_gameContainer {
    background-color: cadetblue;
    width: 100%;    
    height: 100%;
}

.G_gameContainer div {
    color: aqua;
    background-color: darksalmon;
    position: absolute;
    width: 9%;
    height: 22%;
    z-index: 10;
    text-overflow: clip;
    overflow: hidden;
}

.G_gameContainer div .name {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    z-index: 12;
    width: 100%;
}

.G_gameContainer div img {
    width: 90%;
    height: 90%;
    z-index: 11;
}

.G_gameContainer div .role {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(153, 69, 69);
    z-index: 12;
    width: 100%;
}
.chat_window 
{
    position: fixed;
    width: 100%;
    top: 50;
    bottom: 50;
    left: 10;
    right: 0;
    margin: auto;
    min-height: 90vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_window textarea 
{
    resize: none;
}
.chat_window input
{
    position: absolute;
    top: 50%;
	bottom: 0;
	left: 0;
    right: 50px;
    margin: auto;

}
.chat_window button
{
    position: relative;
    top: 160px;
	bottom: 0;
	left: 10px;
    right: 0;
    margin: 0;  
}

