@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow-x: hidden;
}
.repository
{
    position: relative;
    width: 100%;
  
}
.navigationBar
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #284912ec;
    transition: 0.5s;
    overflow: hidden;
}
.navigationBar ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}