.container
{
    display: flex;
    justify-content: space-evenly;
}
.left, .right 
{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    padding: 5px;
}

input 
{
    margin-top: 10px;
    height: 20px;     
}

#jsonData
{
    padding: 10px;
    overflow-wrap: break-word;   
}