<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Гра Мафія</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/chat.css" rel="stylesheet" />
</head>
  <!--немного не  так, как я хочу. тоесть ты проект не перепутал? да и глобал чат не надо никаких кодов лол-->
<!-- а еще внутриигровой чат этовызов конектора по сути-->  <!--Кароче я понял тебя.Я хочу сделать так чтобы перед игрой его не сразу-же перекидивало в игру,а был такой countdown типо и там юзеры могди пообщаться перед игрой.Понял идею?-->
<!--потом разберемся в кукисами чтоб гугл подхватывать аутентификациюp-->
<body class="text-center">
   <div class="chatwindow">
      <h2 >МАФІЯ</h2>
      <h2>Кімната : {{session['room']}}</h2><br>
      <textarea id="chat" cols="70" rows="10" placeholder="Ще нема повідомлень. Почати.."></textarea><br /><br />
      <input type="text" id="text" size="60" placeholder="Введіть своє повідмлення тут" />
      <button type="button" id="send" class="btn btn-success">Відправити</button><br /><br />
      <center><button type="button" class="btn btn-danger" onclick=leave_room()>Покинути ГРУ</button></center>
    </div>
  </body>
</html>   