<!Doctype html>
<html>
<head>
<meta charset='utf-8'/>
_                                
| |    ___  __ _  __ _  ___ _   _ 
| |   / _ \/ _` |/ _` |/ __| | | |
| |__|  __/ (_| | (_| | (__| |_| |
|_____\___|\__, |\__,_|\___|\__, |
           |___/            |___/ 
<script src='/static/socketio.js'></script>
<title>mafia client</title>
<link rel="stylesheet" href="/static/main.css">
</head>
<body>



Ага
<script>

if(sessionStorage.getItem('mafiaID')!=null){window.location.href='/game'}

const xhr = new XMLHttpRequest();
xhr.open('POST', '/register');
xhr.onload = function (e) {
    if (this.status == 200) {
        sessionStorage.setItem('mafiaID',this.response);
        window.location.href='/game';
        }}
xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
xhr.send('name='+prompt('name'));


</script>
</body>
</html>
