<!Doctype html>
<html lang="ua">
 <head>
    <link rel ="stylesheet" type="text/css" href="registration.css">
    <title>Регестрація</title>
</head>
<body>
     <div class="main">
        <div class="form-box">
           <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn">Увійти</button> 
                <button type="button" class="toggle-btn">Зареєструватися</button>
                  
           </div>
         </div>
     </div>




</body>
</html>     





