<Doctype html>
<html lang="ua">
 <head>
    <link rel ="stylesheet" type="text/css" href="registration.css">
    <title>Регестрація</title
</head>
<body>
     <div class="main">
        <div class="form-box">
           <div class="button-box">\
                <div id="btn"></div
                <button type="button" class="toggle-btn">Війти</button> 
                <button type="button" class="toggle-btn">Зарегеструватися</button>
                  
           </div>
        </div
     </div>




</body>
</html>     





